# Local .terraform directories
.terraform/

# Terraform lock file
.terraform.lock.hcl

# Crash log files
crash.log

# Ignore all .tfstate files
*.tfstate
*.tfstate.*

# Ignore override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Ignore CLI config files
.terraformrc
terraform.rc

# Ignore variable files containing secrets
*.tfvars
*.tfvars.json
